<% if !signed_in?  %>
	<div class="center hero-unit">
		<h1>Welcome to the</br>Atma Volunteer App</h1>
		<%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
	</div>
<% else %>
	<h2 class="center">Fill In Your Log Below</h2>
	<%= render 'shared/newhour_form' %>
<% end %>

<div><%= render 'shared/month_bar' %></div>
