<% provide(:title, 'All Logs') %>
<% provide(:newpath, new_febhour_path) %>

<h1>All Logs</h1>

<%= render 'febhours_calendar' %>




<hr>
<ul>
	<% @monhours.each do |monhour| %>
		<li>
			<p>Volunteer Name: <%= monhour.user.name %></p>
			<p>Date: <%= monhour.date %></p>
			<p>Number of Hours: <%= monhour.numhours %></p>
		</li>
	<% end %>
</ul>
