<% provide(:title, @org.org_name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= image_tag("atmalogo.jpg", alt: "Profile Photo", class: "pic") %>
				<%= @org.org_name %>
			</h1>
		</section>
	</aside>
</div>