<footer class="container">
	<small>
		<p>Developed by <em>Vishal</em></p>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://atma.org.in/" target="_blank">Atma</a></li>
		</ul>
	</nav>
</footer>